node_modules/
config.json
.vscode
dist
src/native-api/build/
src/ui/js/renderer/additional/about/about.config.js

# External dependency
src/native-api/lib/nlohmann/json.hpp
src/native-api/lib/nlohmann/license.txt

# Legacy native code
src/framed-api.cpp
src/build-framed-cpp.bat
src/framed-cpp-api.exe
src/test-cpp-cpu.js