node_modules/
config.json
test*
.vscode
dist
src/native-api/build/

# External dependency
src/native-api/lib/nlohmann/json.hpp

# Legacy native code
src/framed-api.cpp
src/build-framed-cpp.bat
src/framed-cpp-api.exe